.start-networking{
    background-color: #E8EBE4;
    padding-left: 3%;
    border: solid 1px #bec1bb;
}
.center-menssage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8EBE4;
    min-height: 100vh;
    min-width: 70%;
    margin-left: 2%;
    
}

.center-menssage img{
    width: 20%;
    padding-top: 10%;
}
.center-menssage p{
    padding-left: 20%;
    padding-right: 20%;
}

.first-division{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-profile{
    display: flex;
    width: 30%;
}


.photo-user img{
    width: 70%;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.name-user{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.roboto{
    font-family: 'Roboto';
}
.open-sans{
    font-family: 'Open Sans';
}

.sidenav{
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    align-items: flex-start;
    margin-right: 0%;
    padding-top: 0%;
}

.button-chat{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    width: 50%;
    
}

.button-chat input{
    background-color: #A491D2;
    color: white;
    padding: 15%;
    font-size: larger;
    border: none;
}

.nav-user{
    display: flex;
    flex-direction: row;
    border: solid 1px #bec1bb;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 5%;
    align-items: center;
    gap: 10px;
    margin-right: 0px;
}

.icons-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #444749;
    margin: 2px;
    padding: 2px;
}

.icons-profile i{
margin-right: 10px;
font-size: larger;
}

.name-and-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.space-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
}

strong{
    font-family: 'Roboto';
}

.name-user h3{
    padding: 0px;
    margin: 0px;
}
.name-user p{
    padding: 0px;
    margin: 0px;
}

.barras{
    margin-right: 5px;
}

.space-name-icons{
    padding-left: 10px;
}